.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
	color: white;
    background: rgba(233, 240, 255, 0) url(../images/onFocus.gif) no-repeat;
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onError
{
	color: #ffd8ea;
    background: rgba(255, 242, 233, 0) url(../images/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
	color: white;
    background: rgba(233, 255, 235, 0) url(../images/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onLoad
{
	color: white;
    background: rgba(233, 255, 235, 0) url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 