.ui-jqgrid tr.jqgrow td { /*jqgrid中的td*/
    font-weight: normal;
    overflow: hidden;
    white-space: normal;
    height: 35px;       /*td的高度*/
    padding: 10px 2px 10px 2px;
    border-bottom: 1px solid rgba(13, 121, 134, 0);
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: inherit;*/
}