/**********************************

Name: test_form Styles

***********************************/


form.picform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: normal;
	font-size:13px;
	font-family: "ו";
}
div.error { display: none; }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
