#etnews_container {
	BORDER-RIGHT: #c3ced9 0px solid; PADDING-RIGHT: 12px; BORDER-TOP: #c3ced9 0px solid; PADDING-LEFT: 18px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #c3ced9 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #c3ced9 0px solid; BACKGROUND-COLOR: #f9fbfc
}
#etnews_hint {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.4em; PADDING-TOP: 5px
}
#etnews_div {
	DISPLAY: none
}
