BODY {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#004574,endcolorstr=#175f8f,gradientType=0)
}
#CenterAreaBg {
	WIDTH: 100%; BACKGROUND: url(login_bg.gif) repeat-x; FLOAT: left; HEIGHT: 569px
}
#CenterArea {
	POSITION: absolute; WIDTH: 776px; BACKGROUND: url(login.gif) no-repeat; FLOAT: left; HEIGHT: 569px; LEFT: 110px
}
#LogoImg {
	PADDING-LEFT: 180px; WIDTH: 100%; FLOAT: left; PADDING-TOP: 210px
}
#LoginInfo {
	PADDING-LEFT: 180px; WIDTH: 360px; FLOAT: left; HEIGHT: 145px; PADDING-TOP: 30px
}
#LoginInfo TR {
	HEIGHT: 23px
}
.Subject {
	TEXT-ALIGN: justify; PADDING-LEFT: 15px; PADDING-RIGHT: 9px; FONT-FAMILY: ����; COLOR: #a7c4d7; FONT-SIZE: 11pt
}
.TextField {
	WIDTH: 168px; PADDING-RIGHT: 9px; HEIGHT: 19px; COLOR: #1e71a8; FONT-SIZE: 12px
}
.PopUpButton {
	WIDTH: 126px; PADDING-RIGHT: 9px; HEIGHT: 19px; COLOR: #1e71a8; FONT-SIZE: 12px
}
#LoginBtn {
	WIDTH: 100px; PADDING-RIGHT: 270px; FLOAT: right; PADDING-TOP: 30px
}
#ImgCode {
	PADDING-LEFT: 2px; FLOAT: left; PADDING-TOP: 1px
}
.TextField_ImgCode {
	WIDTH: 105px; HEIGHT: 19px; COLOR: #1e71a8; FONT-SIZE: 12px
}
#CopyRight {
	COLOR: #4c91bf; FONT-SIZE: 12px; text-align: center;
}
#CopyRight A:link {
	COLOR: #4c91bf; TEXT-DECORATION: none
}
#CopyRight A:visited {
	COLOR: #4c91bf; TEXT-DECORATION: none
}
#CopyRight A:active {
	COLOR: #4c91bf; TEXT-DECORATION: none
}
#CopyRight A:hover {
	COLOR: #4c91bf; TEXT-DECORATION: none
}
